<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
  <div class="col-md-6 blue-background">
    <div class="align-to-center" style="color: white">
      <h5><fa name="search" size="2x"></fa> Follow your interests.</h5>
      <h5><fa name="group" size="2x"></fa>Hear what people are talking about.</h5>
      <h5><fa name="comment" size="2x"></fa>Join the conversation.</h5>
    </div>
  </div>
  <div class="col-md-6">
    <app-login-form></app-login-form>

    <span class="align-to-center">
      <router-outlet></router-outlet>
    </span>
  </div>
  <footer class="offset-2">
    &nbsp;&nbsp;&nbsp;<a href="">About</a>
    &nbsp;&nbsp;&nbsp;<a href="">Help Center</a>
    &nbsp;&nbsp;&nbsp;<a href="">Blog</a>
    &nbsp;&nbsp;&nbsp;<a href="">Status</a>
    &nbsp;&nbsp;&nbsp;<a href="">Jobs</a>
    &nbsp;&nbsp;&nbsp;<a href="">Terms</a>
    &nbsp;&nbsp;&nbsp;<a href="">Privacy Policy</a>
    &nbsp;&nbsp;&nbsp;<a href="">Cookies</a>
    &nbsp;&nbsp;&nbsp;<a href="">Ads info</a>
    &nbsp;&nbsp;&nbsp;<a href="">Brand</a>
    &nbsp;&nbsp;&nbsp;<a href="">Apps</a>
    &nbsp;&nbsp;&nbsp;<a href="">Advertise</a>
    &nbsp;&nbsp;&nbsp;<a href="">Marketing</a>
    &nbsp;&nbsp;&nbsp;<a href="">Business</a>
    &nbsp;&nbsp;&nbsp;<a href="">Developers</a>
    &nbsp;&nbsp;&nbsp;<a href="">Directory</a>
    &nbsp;&nbsp;&nbsp;<a href="">Setings</a>
    &nbsp;&nbsp;&nbsp;<a href="">&#169;Copyright</a>
  </footer>
</div>
