<nav  style="background: #fff" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container collapse navbar-collapse" id="navbarSupportedContent">
    <ul class=" nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/home"><fa name="home" size="x"></fa>&nbsp;Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/moments"><fa name="bolt" size="x"></fa>&nbsp;Moments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="notifications"><fa name="bell" size="x"></fa>&nbsp;Notifications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/messages"><fa name="envelope" size="x"></fa>&nbsp;Messages</a>
      </li>
      <li class="nav-item logo-twitter">
        <a class="nav-link">
          <fa name="twitter" size="2x"></fa>
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 search-input" type="search" placeholder="Search Twitter" aria-label="Search">
      <nav class="nav-item dropdown">
        <a class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <fa name="user-circle" size="2x"></fa>
        </a>
      </nav>
      <button class="btn btn-info" type="button" style="border-radius: 25px;">Tweet</button>
      <button (click)="logOut()" class="btn btn-info" type="button" style="border-radius: 25px;">Logout</button>

    </form>
  </div>
</nav>
<router-outlet></router-outlet>
