<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
  <div class="col-md-6" style="background: #1da1f2;min-height: -webkit-fill-available;">
    <span class="align-to-center" style="color: white">
      <h5><fa name="search" size="2x"></fa> Follow your interests.</h5>
      <h5><fa name="group" size="2x"></fa>Hear what people are talking about.</h5>
      <h5><fa name="comment" size="2x"></fa>Join the conversation.</h5>
    </span>
  </div>
  <div class="col-md-6">
    <login-form></login-form>

    <span class="align-to-center">
      <!--<span style="color: #1da1f2"> <fa name="twitter" size="3x"></fa> </span>
      <h4>See what’s happening in the world right now</h4>
      <br/>
      <p>Join Twitter today.</p>
      <span class="buttons">
        <p><a [routerLink]="['/register']" style="width: 50%; border-radius: 25px" class="btn btn-lg btn-info">Sign Up</a></p>
        <p><button style="width: 50%; border-radius: 25px" class="btn btn-lg btn-outline-info" onclick="{document.getElementById('email').focus()}">Login</button></p>
      </span>-->
      <app-register></app-register>
    </span>
  </div>
  <footer class="offset-2">
    &nbsp;&nbsp;&nbsp;<a href="">About</a>
    &nbsp;&nbsp;&nbsp;<a href="">Help Center</a>
    &nbsp;&nbsp;&nbsp;<a href="">Blog</a>
    &nbsp;&nbsp;&nbsp;<a href="">Status</a>
    &nbsp;&nbsp;&nbsp;<a href="">Jobs</a>
    &nbsp;&nbsp;&nbsp;<a href="">Terms</a>
    &nbsp;&nbsp;&nbsp;<a href="">Privacy Policy</a>
    &nbsp;&nbsp;&nbsp;<a href="">Cookies</a>
    &nbsp;&nbsp;&nbsp;<a href="">Ads info</a>
    &nbsp;&nbsp;&nbsp;<a href="">Brand</a>
    &nbsp;&nbsp;&nbsp;<a href="">Apps</a>
    &nbsp;&nbsp;&nbsp;<a href="">Advertise</a>
    &nbsp;&nbsp;&nbsp;<a href="">Marketing</a>
    &nbsp;&nbsp;&nbsp;<a href="">Business</a>
    &nbsp;&nbsp;&nbsp;<a href="">Developers</a>
    &nbsp;&nbsp;&nbsp;<a href="">Directory</a>
    &nbsp;&nbsp;&nbsp;<a href="">Setings</a>
    &nbsp;&nbsp;&nbsp;<a href="">&#169;Copyright</a>
  </footer>
</div>
